@let b = book();
<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt=""
        src="https://api.angular.schule/avatar/{{ b.rating }}">
    <div class="card-title">
      <h2>
        {{ b.title }}
        <app-rating-display [value]="b.rating" />
      </h2>
    </div>
    <p>{{ b.description }}</p>
    <p>Preis: {{ b.price | currency:'EUR' }}</p>

    <button type="button" class="btn btn-green" [disabled]="b.rating <= minRating()" (click)="doRateUp()"> + </button>
    <button type="button" class="btn btn-red" [disabled]="b.rating >= maxRating()" (click)="doRateDown()"> - </button>
    <button type="button" class="btn btn-yellow" (click)="doDelete()">Löschen</button>

    <a [routerLink]="['/books', b.isbn]">Details</a>
    <!-- <a routerLink="/books">Dashboard</a>
    <a [routerLink]="['..', 'books', b.isbn]">Details</a>
    <a [routerLink]="'/books/' + b.isbn">Details</a>
    <a routerLink="/books/{{ b.isbn }}">Details</a>
    <a [routerLink]="b.isbn">Details</a>
    <a [routerLink]="[b.isbn]">Details</a>
    <a routerLink="../books/{{ b.isbn }}">Details</a>-->
  </div>
</div>
